
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 75%;
}

/* Style the header */
header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}
div {
    text-align:center;
    display:inline-block;
    margin: 0;
    width: 40%;
    background: deepskyblue;
}
p {
    margin-top: 40%;
    vertical-align: middle;
    background: deepskyblue;
}
img{
    display:inline-block;
    margin: 0;
    width: 50%;
}
button{
    display:block;
    margin: 0 auto;
    width: 200px;
    height: 100px;
    background: orange;
}
section{
    margin: 0 auto;
    padding: 1em;
    /*width: fit-content;*/

}


/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}